body,
body * {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ecadf;
    height: 100vh;
    position: relative;
}

.background {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../img/hill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    filter: blur(24px);
}

.container {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    background-color: #0051a9;
    background-image: url(../img/hill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 30px;
    bottom: 30px;
}

.main-title {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 100px;
}

.bottom-links {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 30px;

}

.link {
    display: inline-block;
    color: #fff;
}

.symbol {
    display: inline-block;
    color: #fff;
}

.right-column {
    width: 60%;
    float: right;
    padding: 60px;
    background-color: #fff;
    position: relative;
}

.close {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
}
}

.form {
    display: inline-block;
    width: 100%;
}

.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.form-row:last-of-type {
    margin-bottom: 0;
}

.form-row > label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #777;
    text-transform: uppercase;
}

.form-row > input {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 35px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.form-row > input:focus {
    outline: none;
}

.form-row > button {
    float: left;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    background-color: #015cda;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .form-row > span {
    float: left;
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .form-row > a {
    float: left;
    padding: 10px;
    font-size: 18px;
    line-height: 20px;
    color: #015cda;
    text-decoration: none;
  }

  .form-row > a:hover {
    text-decoration: underline;
  }